
Go to file
t
T
Name		
WorldCupIsHere
WorldCupIsHere
Add files via upload
71bc1e5
 · 
21 minutes ago
.env.example
Add files via upload
21 minutes ago
.gitignore
Add files via upload
21 minutes ago
Procfile
Add files via upload
21 minutes ago
main.py
Add files via upload
21 minutes ago
requirements.txt
Add files via upload
21 minutes ago

